body {
 font-family: 'Work Sans', sans-serif;
 /*overflow-y:hidden;*/
} 

h1, h2, h3, h4, h5, h6 {
 font-family: 'Crimson Text', serif;
}


input[type="checkbox"][readonly] {
  pointer-events: none;
}

details {
  text-align: left;
}
summary:hover {
  color: white;
  cursor: pointer;
}

td {
  vertical-align: top;

}

.logo {
  float: right;
  display: block; 
  position: fixed;
  left: 2%;
  top: 2%;
}

image {
  transform-origin: top center;
}





/*--------------------------------------------*/
/*                 Scrollbar                  */
/*--------------------------------------------*/




body::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(150, 145, 140, 0.7);
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color:rgba(150, 145, 140, 1);
}




.metamorphosenModalContent::-webkit-scrollbar { /* scrollbar background */
  width: 0.7em;
  height: 0.7em;
  background-color: rgba(0, 0, 0, 0.7);
}
 
.metamorphosenModalContent::-webkit-scrollbar-track { /* scrollbar background */
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
 
.metamorphosenModalContent::-webkit-scrollbar-thumb { /* scrollable thing */
  background-color: rgba(56, 54, 51, 0);
  border-radius: 2px;
}
.metamorphosenModalContent::-webkit-scrollbar-thumb:hover {
  background-color: rgba(61, 58, 55, 0.7);
}




#textModal::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
  background-color: rgb(227, 222, 216, 0.8);
}
 
#textModal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
 
#textModal::-webkit-scrollbar-thumb {
  background-color: rgba(150, 145, 140, 0.7);
  border-radius: 4px;
}
#textModal::-webkit-scrollbar-thumb:hover {
  background-color: rgba(150, 145, 140, 1);
}


/*--------------------------------------------*/
/*                 Background                 */
/*--------------------------------------------*/


body {
  height: 100%;
  margin: 0;
  background-image: url("Bilder/Titlepage_Opacity60.jpg"); 
  z-index: -100;
  background-attachment: fixed;
  background-position: 100% 10%;
  background-repeat: no-repeat;
  background-size: cover;
}
html {
  height: 100%;
  margin: 0;
}

#backgroundOpacity {
  color: black;
}




/*--------------------------------------------*/
/*                   Links                    */
/*--------------------------------------------*/

a:link {
  color: #733030;
  text-decoration: none;
}
a:visited {
  color: #733030;
  text-decoration: none;
}
a:hover {
  color: #994040;
  text-decoration: none;
  cursor: pointer;
}
a:active {
  color: #733030;
  text-decoration: none;
}







/*--------------------------------------------*/
/*                  Buttons                   */
/*--------------------------------------------*/

button { /* unterscheidet sich sonst von span */
  text-decoration: none;
  outline: none;
}


/* --------------- Info-, Quiz- & Book-Button -------------- */
.infoBtn {
  background-color: transparent;
  float: right;
  display: block; 
  position: fixed;
  border: none;
  border-radius: 4px;
  z-index: 1;
  color: white;
  padding: 10px 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.infoHoverName {
  position: absolute;
  color: #733030;
  /*text-align: center;*/
  display: none;
  font-family: 'Crimson Text', serif;
}


.infoBtn:hover {
  background-color: rgba(0, 0, 0, 0.3);
  /*transform-origin: center;*/
}

#infoBtn{
  right: 4%;
  top: 4%;
}

#quizBtn{
  right: 4%;
  top: 12.5%;
}

#bookBtn{
  right: 4%;
  top: 21%;
}





/* -------------- Modal-Buttons ------------- */
.modalBtns {
  background-color: #733030;
  display: block; 
  border: none;
  border-radius: 4px;
  z-index: 1;
  right: 2%;
  top: 2%;
  color: white;
  padding: 15px 32px;
  margin: 20px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.modalBtns:hover {
  background-color: #994040;
  color: white;
}








/*--------------------------------------------*/
/*             Navigation-Bar                 */
/*--------------------------------------------*/

.navigation {
  color: white;
  padding-left: 10px;
  float: left;
  display: block; 
  position: fixed;
  border-radius: 4px;
  z-index: 38; 
  left: 2%;
  bottom: 2%;
  background-color: rgba(0, 0, 0, 0.8); 
}
.dropbtn {
  background-color: #733030;
  color: white;
  border-radius: 4px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #733030;
  min-width: 160px;
  bottom: 50px; /* sorgt für drop-up */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 40;
}
.dropdown-content div {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.dropdown-content div:hover {
  background-color: #733030;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #994040;
}








/*--------------------------------------------*/
/*                  Modals                    */
/*--------------------------------------------*/

/* --------------- Info-Modal --------------- */
.infoModal { /* The Modal (background) */
  text-align: center;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); 
}

.modalHeader {
  color: #aaaaaa;
  text-align: center;
  /*height: 100px;*/
}
.modalContent {
  color: #aaaaaa;
  background-color: rgba(0,0,0,0.8);
  margin: auto;
  padding: 50px;
  width: 60%;
  overflow-x: auto;
}

.close {
  color: #aaaaaa;
  float: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


#textModal { /* The Modal (background) */
  position: relative;
  z-index: 1;
  height: 70%;
  width: 60%;
  top: 15%;
  left: 20%;
  color: #000000;
  background-color: rgba(227, 222, 216, 1);
  overflow: auto; /* Enable scroll if needed */
}
.textModalContent {
  padding-right: 50px;
  padding-left: 61.2px; /*wg. scrollbar*/
  position: relative;
}

.textModalHeader {
  top: -1%;
  position: sticky;
  background-color: rgba(227, 222, 216, 1);
  /* shad.attr.: horizontal, vertical, blur, spread, color */
  box-shadow: 0px 17px 10px 10px rgba(227, 222, 216, 1); 
}
.textModalFooter {
  bottom: -1%;
  position: sticky;
  background-color: rgba(227, 222, 216, 1);
  /* shad.attr.: horizontal, vertical, blur, spread, color */
  box-shadow: 0px -17px 10px 10px rgba(227, 222, 216, 1); 
}

/* --------------- Start-Modal -------------- */
.startModal {
  text-align: center;
  display: block; /* not Hidden by default >>>>>>>>> später wieder auf block setzen <<<<<<<<<<*/
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 5%; /* Location of the box */
  padding-bottom: 5%;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); 
}

/* ---------- Metamorphosen-Modal ------------ */
.metamorphosenModal {
  text-align: left;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 39; /* Sit on top */
  /* padding-top: 100px; /* Location of the box
  padding-bottom: 100px; */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); 
  font-size: 14px;
  animation-name: slowOpacity;
  animation-duration: 0.5s;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}
.metamorphosenModalContent {
  position: fixed;
  color: #aaaaaa;
  background-color: rgba(0,0,0,1);
  margin: auto;
  top: 15%;
  left: 20%;
  height: 70%;
  padding-right: 50px;
  padding-left: 61.2px; /* + 0.7em (= 11.2px) scrollbar */
  width: 60%;
  overflow-x: auto;
}
.metamorphosenModalHeader {
  position: sticky;
  top: 0%;
  background-color: rgba(0, 0, 0, 1);
  /* shad.attr.: horizontal, vertical, blur, spread, color */
  box-shadow: 0 5px 25px 5px rgb(0, 0, 0);
}
.metamorphosenModalFooter {
  position: sticky;
  bottom: -1%;
  left: -1%; /* doesn't work */
  width: 101%;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 0 -5px 25px 15px rgb(0, 0, 0);
}

.tooltip {
  position: relative;
}

.tooltip span[role=tooltip] {
  display: none;
}

.tooltip:hover span[role=tooltip] {
  display: block;  
  position: absolute; 
  bottom: 2em;
  left: -6em;
  width: 15em;
  padding: 0.5em;
  z-index: 100;
  color: #000; 
  background-color: #733030;
}


.prevMet, .nextMet {
  position: fixed;
  color: white;
  font-size: 40px;
  cursor: pointer;
  padding: 16px;
  transition: 0.6s ease;
  border-radius: 3px;

}
.prevMet:hover, .nextMet:hover {
  color: #733030;
  background-color: rgba(0, 0, 0, 0.5);
}

.prevMet {
  top: 45%;
  left: 10%;
}

.nextMet {
  top: 45%;
  right: 10%;
}







/*--------------------------------------------*/
/*           Popover/Hover card               */
/*--------------------------------------------*/

.popover__wrapper {
  position: absolute;
  /*margin-top: 1.5rem;*/
  display: inline-block;
  transition: left 1s ease-out, top 1s ease-out, opacity 0.5s ease-out;
  transform: translate(-50%, -50%); /* centered images! */
  z-index: 35;
}

.iconImg {
  /*z-index: 35;*/
}

.iconImg:hover {
  opacity: 0.8;
  cursor: pointer;
}  


.popover__content {
  color: white;
  opacity: 0;
  /*visibility: hidden; > Visibility wird jetzt über JavaScript gesteuert s. popoverAufruf */
  position: relative;
  /*top: 100px;*/
  /*left: calc(50% - 100px - 1.5rem);*/
  transform: translate(0, 10px);
  background-color: rgba(0, 0, 0, 0.9); 
  padding: 25px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  width: auto;
}
.popover__content:before { /* nur das Dreieck! */
  position: absolute;
  /*z-index: -1;*/
  content: "";
  right: calc(50% - 10px);
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent rgba(0, 0, 0, 0.9) transparent;
  transition-duration: 0.3s;
  transition-property: transform;
}
.popover__wrapper:hover ~ .popover__content {
  z-index: 39;
  position: absolute;
  opacity: 1;
  /*visibility: visible; > JavaScript*/
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  text-align: center;
}





/*--------------------------------------------*/
/*            responsive table                */
/*--------------------------------------------*/

.display-under-1200px {
  display: none;
}

@media screen and (max-width: 1100px) {
  .display-under-1200px {
    display: block;
  }
  .hide-under-1200px {
    display: none; 
   }
}

@media screen and (max-width: 700px) {
  .hide-under-700px {
    display: none; 
   }
}

@media screen and (max-width: 400px) {
  .hide-under-400px {
    width:100%;  
    display: none; 
   }
}





/*--------------------------------------------*/
/*                Kategorien                  */
/*--------------------------------------------*/

.kategory {
 /* position:absolute; */
  display: none;
  z-index: 0;
  animation-name: slowOpacity;
  animation-duration: 2s;
  animation-play-state: paused;
  animation-fill-mode: forwards;
}


@keyframes slowOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}






/* Taxonomie */

.titleTopleft {
  margin: 0;
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
  color: white;
  font-family: 'Crimson Text', serif;
}

.percentTopright, .percentToprightGrund {
  position: absolute;
  top: 0px;
  right: 16px;
  font-size: 10px;
  color: white;
}
.percentTopright:hover, .percentToprightGrund:hover {
  display: block;
}

.taxonomieKategorie {
  position: absolute; /* irgendwann über JS steuern, mit Breite der zusammengezählten Elemente*/
  height: 10%;
}

#fauna {
  top:25%;
  left:15%;
  background-color: rgba(115, 48, 48, 0.8);
}

#flora {
  top:40%;
  left:15%;
  background-color: rgba(100, 100, 100, 0.8);
}

#elemente {
  top:55%;
  left:15%;
  background-color: rgba(25, 25, 25, 0.8);
}

#sonstiges {
  top:70%;
  left:15%;
  background-color: rgba(160, 160, 160, 0.8);
}

#fauna:hover, #flora:hover, #elemente:hover, #sonstiges:hover {
  background-color: #733030;
}


.taxonomieNames {
  text-align: center;
  font-family: 'Crimson Text', serif;
  font-size: 12px;
  color: white;
  display: none;
}



/* Verwandlungsgrund */

#schutz {
  position: absolute;
  top:15%;
  left:15%;
  width: 30%;
  height: 25%;
  background-color: rgba(115, 48, 48, 0.8);
}

#bestrafung {
  top:15%;
  left:50%;
  width: 35%;
  height: 25%;
  background-color: rgba(100, 100, 100, 0.8);
}

#begierde {
  top:45%;
  left:15%;
  width: 30%;
  height: 25%;
  background-color: rgba(25, 25, 25, 0.8);
}

#ehrung {
  top:45%;
  left:50%;
  width: 35%;
  height: 25%;
  background-color: rgba(160, 160, 160, 0.8);
}

#sonstigerGrund {
  top:75%;
  left:15%;
  width: 70%;
  height: 10%;
  background-color:  rgba(75, 31, 31, 0.8);
}

#schutz:hover, #bestrafung:hover, #begierde:hover, #ehrung:hover, #sonstigerGrund:hover {
  background-color: #733030;
}





/*--------------------------------------------*/
/*                    Quiz                    */
/*--------------------------------------------*/

.multipleChoise {
  border: white;
  border-radius: 4px;
  height: 3%;
  width: 10%;
}

.multipleChoise:hover {
  background-color: white;
}



/*--------------------------------------------*/
/*                  Lightbox                  */
/*--------------------------------------------*/

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.lightboxModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.lightboxModal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}